:root {
    /* Colors */
    --color-dd: rgb(52, 46, 46);
    --color-d: rgb(60, 54, 54);
    --color-m: rgb(92, 86, 79);
    --color-l: rgb(142, 132, 119);
    --color-ll: rgb(193, 181, 164);
    --color-lll: rgb(207, 205, 192);
    --color-background: rgb(25, 22, 22);
    --color-background-d: rgb(20, 17, 17);
    --color-background-dd: rgb(15, 11, 11);
    --color-darken-m: rgba(0, 0, 0, 0.2);
    --color-background-l: rgb(30, 26, 26);
    --color-shadow-l: rgb(0, 0, 0, 0.1);
    --color-shadow-m: rgb(0, 0, 0, 0.5);
    --color-shadow-d: rgb(0, 0, 0, 0.8);
    --color-lighten-ll: rgba(255, 255, 255, 0.1);
    --color-lighten-l: rgba(255, 255, 255, 0.2);
    --color-lighten-m: rgba(255, 255, 255, 0.45);
    --color-accent: rgb(75, 100, 75);
    --color-accent-highlight: rgba(75, 100, 75, 0.2);

    /* Shadow */
    --shadow-1:inset 0 0 0.5rem var(--color-shadow-m), 0 0 0.5rem var(--color-shadow-m);
    --shadow-2: 0 0.1rem 0.25rem var(--color-shadow-d);

    /* Font Families */
    --font-serif: "Instrument Serif";
    --font-sans: "Instrument Sans";

    /* Sizes */
    --size-sss: 0.5rem;
    --size-ss: 0.75rem;
    --size-s: 0.85rem;
    --size-m: 1rem;
    --size-l: 1.25rem;
    --size-ll: 1.5rem;
    --size-lll: 2rem;
    --size-h3: 1.25rem;
    --size-h2: 1.5rem;
    --size-h1: 3rem;
    --size-title: 4rem;

    /* Border Radius */
    --border-radius-s: 0.5rem;
    --border-radius-m: 1rem;
    --border-radius-l: 3rem;

    /* Padding */
    --padding-ss: 0.1rem;
    --padding-s: 0.5rem;
    --padding-m: 1rem;
    --padding-l: 3rem;

    /* Transition */
    --transition-s: 0.5s;
    --transition-m: 2s;
}

html {
    background-color: var(--color-background-dd);
    color: var(--color-lll);
    font-family: var(--font-sans);
    padding: 0;
    margin: 0;
    text-shadow: var(--shadow-2);
}

body {
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
}

main {
    background-color: var(--color-background);
    background-image: radial-gradient(var(--color-background-l) 2px, transparent 1px);
    background-size: 30px 30px;
    padding: 1rem;
    padding-top: 5rem;
    display: flex;
    width: 90%;
    margin: auto;
    padding-bottom: 3rem;
    border-radius: 1rem;
    flex-direction: column;
    justify-content: center;
    box-shadow: var(--shadow-1);
    overflow: hidden;
}

main > * {
    width: 100%;
    max-width: 50rem;
    align-self: center;
}

/* HEADER */
#nav-bar {
    background-color: var(--color-background-d);
    position: fixed;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: left;
    width: 100%;
    margin: 0;
    padding: 0.25rem;
    padding-inline: 1rem;
    z-index: 1000;
    box-shadow: var(--shadow-1);
}

#nav-bar #logo {
    cursor: default;
}

#nav-bar #logo #logo-text {
    font-family: var(--font-serif);
    font-size: var(--size-lll);
}

#nav-bar #links {
    border-left: 0.1rem solid var(--color-dd);
}

#nav-bar #links #nav-list {
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
    list-style-type: none;
}

#nav-bar #links #nav-list a {
    display: block;
    color: var(--color-ll);
    text-decoration: none;
    transition: transform var(--transition-s);
}

#nav-bar #links #nav-list a:hover {
    transform: scale(0.95);
    text-decoration: underline;
    font-weight: bold;
}

/* GENERAL */

hr {
    margin-bottom: 1rem;
    margin-top: 4rem;
    border: none;
    border-top: 0.2rem solid var(--color-l);
    border-top-style: dotted;
}

.button button {
    background-color: transparent;
    color: var(--color-m);
    font-size: 1.5rem;
    border: 0.1rem solid var(--color-d);
    width: fit-content;
    border-radius: 0.2rem;
    cursor: pointer;
    margin: 1rem;
    align-self: center;
    padding: 1rem;
    padding-inline: 3rem;
    transition: var(--transition-s);
}

.button button:hover {
    transform: scale(1.05);
}

/* Font Defaults */
p {
    line-height: 2rem;
}

p.hint {
    color: var(--color-m);
    font-size: var(--size-s);
    line-height: 1rem;
    margin-bottom: 0.5rem;
    margin-top: -0.5rem;
    padding-left: 0.5rem;
}

h1 {
    font-family: var(--font-serif);
    font-size: var(--size-h1);
    margin: 0;
}

h2 {
    font-family: var(--font-sans);
    font-weight: normal;
    font-size: var(--size-h2);
}

a {
    color: var(--color-ll);
    text-decoration: none;
}



/* Skills */
.skills {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 1.25rem;
}

.skills li {
    background-color: var(--color-accent-highlight);
    border: 0.1rem solid var(--color-accent);
    padding: 0.25rem;
    padding-inline: 1rem;
    border-radius: 0.25rem;
    box-shadow: var(--shadow-1);
    color: var(--color-accent);
}

/* Tags */
.tags {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.tags li {
    background-color: var(--color-accent);
    padding: 0.25rem;
    padding-inline: 1rem;
    border-radius: 1rem;
    box-shadow: var(--shadow-1);
    color: var(--color-lighten-m);
}

/* Hero Title */
#hero-title {
    min-width: 13rem;
    flex: 1;
}

#hero-title h1 {
    font-size: 6rem;
    text-decoration: underline;
    font-weight: normal;
    text-decoration-color: var(--color-accent);
    text-decoration-thickness: 0.15rem;
    text-decoration-inset: -0.5rem;
    text-decoration-style: dotted;
}

#hero-title h2 {
    font-size: var(--size-h3);
    margin: 0;
    color: var(--color-accent);
}

#hero-title h3 {
    color: var(--color-m);
    font-family: var(--font-sans);
    font-weight: normal;
    font-size: var(--size-h3);
    margin-bottom: -1rem;
}

#hero-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

#hero-image {
    width: 50%;
    max-width: 30rem;
    min-width: 10rem;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    margin: 1rem;
    box-shadow: var(--shadow-1);
    flex-shrink: 0;
    border: 0.1rem solid var(--color-d);
}

/* Resume */
.resume-download {
    display: block;
    background-color: var(--color-accent-highlight);
    border: 0.1rem solid var(--color-accent);
    width: fit-content;
    height: 2rem;
    align-content: center;
    padding: 0.25rem;
    color: var(--color-accent);
    text-decoration: none;
    border-radius: 0.25rem;
    box-shadow: var(--shadow-1);
    text-shadow: var(--shadow-1);
    transition:
        transform var(--transition-s),
        background-color var(--transition-s),
        color var(--transition-s);
}

.resume-download:hover {
    transform: scale(0.99);
    background-color: var(--color-accent);
    color: var(--color-ll);
    border-color: var(--color-lighten-ll);
}

/* Skills Container */
#skills-container {
    cursor: default;
}

/* Contact Section */
#contact {
    display: flex;
    flex-direction: column;
    list-style: none;
}

#contact i {
    margin-right: 1rem;
}

#contact li {
    text-decoration: underline;
    text-decoration-color: transparent;
    margin-top: 1rem;
    transition: transform var(--transition-s), text-decoration-color var(--transition-s);
}

#contact li:hover {
    transform: scale(0.99);
    text-decoration-color: var(--color-ll);
}

/* PROJECT CARD */
.project-card {
    display: flex;
    flex-direction: column;
    width: auto;
    max-width: 80rem;
    background-color: var(--color-dd);
    margin: 1rem;
    padding: 1rem;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    text-decoration: none;
    color: var(--color-ll);
    box-shadow: var(--shadow-1);
    transition:
        transform var(--transition-s),
        background-color var(--transition-s);
}

.project-card:hover {
    transform: scale(0.99);
    background-color: var(--color-d);
}

.cover-div {
    width: 100%;
    max-width: 40rem;
    aspect-ratio: 3/2;
    overflow: hidden;
    border-radius: 0.5rem;
    box-shadow: var(--shadow-1);
    transition: transform var(--transition-s);
}

.cover-div img {
    width: 100%;
}

.project-card:hover .cover-div {
    transform: scale(1.025);
}

.project-card .text-container {
    max-width: 40rem;
}

.project-card h1 {
    font-family: var(--font-serif);
    font-size: var(--size-h1);
    margin: 0;
}

.project-card h3 {
    font-weight: normal;
    font-size: var(--size-l);
}
